body{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .container{
            border: 3px solid black;
            height: auto;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            &:last-child{
                margin-top: 50px;
            }
            h1{
                width: 100%;
                text-align: center;
            }
            .year, .cpr{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                p{
                    width: 100%;
                    text-align: center;
                }
                .addYear, .checkCpr{
                    border: 0px;
                    padding: 10px 25px;
                    background: rgb(0, 102, 0);
                    color: white;
                    font-size: 2em;
                    margin-top: 50px;
                }
            }
        }
    }
}

